<div class="container" *ngIf="!isLoading">
  <nav class="nav mt-4">
    <div class="navbar-brand">
      <img src="../../assets/img/giphy.svg" alt="" />
      <h2 class="mt-2">GIPHY</h2>
    </div>

    <div class="navbar-links">
      <a
        class="nav-link active"
        aria-current="page"
        href="#"
        (click)="showTrendingGifs()"
        >Trending</a
      >
      <a class="nav-link" href="#" (click)="showSearchedGifs()">Search</a>
    </div>

    <div class="navbar-buttons">
      <button class="btn nav-btn">Upload</button>
      <button class="btn nav-btn">Create</button>
    </div>

    <div class="nav-item dropdown pl-2">
      <button class="btn">👀</button>
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        user-name
      </a>
    </div>
  </nav>

  <div class="wrapper mb-5 mt-2">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchTerm"
        name="searchTerm"
      />
      <a class="btn" type="submit" id="selectBtn" (click)="getSearchedGifs()">
        <img src="../../assets/img/search .png" alt="" />
      </a>
    </div>
  </div>

  <div class="banner" *ngIf="!isSearch">
    <img src="../../assets/img/banner.gif" alt="" />
  </div>

  <div class="container mb-3">
    <div class="title" *ngIf="!isSearch">
      <img src="../../assets/img/trend.png" alt="" />
      <h3>Trending</h3>
    </div>
    <div class="title" *ngIf="isSearch && isShow">
      <h3>Results : {{ searchTerm }}</h3>
    </div>
    <div class="gif-wrapper">
      <div class="gif-item m-2" *ngFor="let gif of gifs">
        <img src="{{ gif.images.downsized.url }}" alt="" />
      </div>
    </div>
  </div>
  <div class="button mb-4" *ngIf="!isSearch">
    <button
      *ngIf="!showLess"
      class="btn btn-outline-light"
      (click)="getMoreGifs()"
    >
      Load More
    </button>
    <button *ngIf="showLess" class="btn btn-outline-light" (click)="getGifs()">
      Load Less
    </button>
  </div>
  <div class="button mb-4" *ngIf="isSearch && isShow">
    <button
      *ngIf="!showLess"
      class="btn btn-outline-light"
      (click)="getMoreSearchedGifs()"
    >
      Load More
    </button>
    <button
      *ngIf="showLess"
      class="btn btn-outline-light"
      (click)="getSearchedGifs()"
    >
      Load Less
    </button>
  </div>
</div>

<app-spinner *ngIf="isLoading">
  
</app-spinner>
